<h1><%= @custom.name %> created by <%= @custom.user.username %></h1>

<img src="<%= @custom.image %>" alt="" class="img-thumbnail">

<p><%= @custom.description %></p>

<H4>TODO UPVOTES</H4>

<h1>TODO COMMENT WALL</h1>
