// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cover {
  height: 80vh;
  background-image: url("https://res.cloudinary.com/dyqesnour/image/upload/v1511832479/cartoon_uk8skv.jpg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 85%;
  text-align: center;
}

.titles {
  color: white;
  position: relative;
  top: calc(30vh - 20px);
  background-color: rgba(20,20,20,0.3);
  padding: 20px 0 40px;
}

.titles h1 {
  font-size: 70px;
}

.signup {
  margin-top: 10px;
  width: 40vh;
  height: 40px;
  border-radius: 1em;
  background-color: salmon;
  color: white;
  padding-top: 8px;
  transition: 0.6s all;
}

.signup:hover {
  background-color: navy;
  color: white;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
}

.home-users {
  height: 150px;
}

.users {
  padding: 70px 20px;
  text-align: center;
}

.userbox {
  border-right: 3px solid slategrey;
  text-align: center;
}

.customs {
  height: 500px;
  background-color: navy;
  background-image: url("https://res.cloudinary.com/dyqesnour/image/upload/c_scale,w_1043/v1511841140/bread_ocbjzr.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center 80%;
  text-align: center;
  color: white;
  padding: 100px 10px;
}

.customs-box {
  padding: 20px;
  width: 60%;
  height: 300px;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(20,20,20,0.3);
  border-radius: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.customs-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home-custom {
  height: 150px;
  width: 150px;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  filter: brightness(0.8);
}

.home-custom a {
  width: 150px;
  height: 150px;
  display: inline-block;
}

.home-custom:hover {
  filter: brightness(1);
}

.home-custom:hover .home-custom-title {
  filter: opacity(0);
}
.home-custom-title {
  display: inline-block;
}

.home-custom h6 {
  line-height: 150px;
}

.home-socialbox {
  margin-top: 30px;
  margin-bottom: 45px;
}


.twitlink, .facelink, .pinlink, .instalink {
  height: 100px;
  width: 100px;
  background-size: contain;
  filter: grayscale(1);
  transition: all 0.5s;
  margin: 0 auto;
}

.twitlink {
  background-image: url("https://res.cloudinary.com/dyqesnour/image/upload/v1511908342/if_twitter_2691271_qawjo9.png");
}
.facelink {
  background-image: url("https://res.cloudinary.com/dyqesnour/image/upload/v1511908342/if_facebook_2691283_fdfpgg.png");
}
.pinlink {
  background-image: url("https://res.cloudinary.com/dyqesnour/image/upload/v1511908342/if_pinterest_2691277_eeugrh.png");
}
.instalink {
  background-image: url("https://res.cloudinary.com/dyqesnour/image/upload/v1511908342/if_instagram_2691281_wdm7ea.png");
}

.twitlink:hover {
  filter: none;
  cursor: pointer;
}
.facelink:hover {
  filter: none;
  cursor: pointer;
}
.pinlink:hover {
  filter: none;
  cursor: pointer;
}
.instalink:hover {
  filter: none;
  cursor: pointer;
}

@media only screen and (max-width: 400px) {
    /* For mobile phones: */
     .titles {
        top: 20%;
    }
    .cover {
      height: 100vh;
      padding: 20px;
    }
    .userbox {
      border: none;
    }
    .users {
      padding: none;
    }
    .userbox {
      width: 100%;
      margin-bottom: 20px;
    }
}



@media only screen and (max-width: 325px) {
    /* For mobile phones: */
     .titles {
        top: 10%;
    }
    .cover {
      height: 100vh;
      padding: 20px;
    }
    .userbox {
      border: none;
    }
    .users {
      padding: none;
    }
    .titles h1 {
      font-size: 50px;
    }
}
