// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-container {
  min-height: calc(100vh - 100px);
}

.user-signup {
  text-align: center;
}

.user-customs {
  text-align: center;
}

.user-custom, .user-custom a {
  color: black;
}

.custom-link {
  height: 100px;
  width: 100px;
  text-decoration: none;
}



.new_user {
  text-align: center;
}

.new_user input {
  margin: 0 auto;
}

.signup-container {
  min-height: calc(100vh - 120px);
}

#user_image {
  padding-left: 90px;
}

.signup-container label {
  margin-top: 10px;
}

.signup-container .btn {
margin-top: 10px;
}
